<div class="container py-4" [class.opacity-50]="kaydediliyor()">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3 class="m-0">{{ duzenlemeMi ? 'Müşteri Düzenle' : 'Yeni Müşteri' }}</h3>
    <a class="btn btn-outline-secondary" [routerLink]="['/musteriler']">Listeye Dön</a>
  </div>

  <form [formGroup]="frm" (ngSubmit)="onSubmit()" novalidate>
    <div class="row g-3">
      <div class="col-md-4">
        <label class="form-label">Müşteri No <span class="text-danger">*</span></label>
        <input class="form-control" formControlName="musteriNo" />
      </div>
    </div>
    
    <h4 class="mt-4">Demografik Bilgiler</h4><hr>
    <div class="row g-3">
      <div class="col-md-4">
        <label class="form-label">Adı / Ünvanı</label>
        <input class="form-control" formControlName="adiUnvani" />
      </div>
        <div class="col-md-4"><label class="form-label">Soyadı</label><input class="form-control" formControlName="borcluSoyadi" /></div>
            <div class="col-md-4">
              <label class="form-label">TCKN</label>
              <input
                type="text"
                maxlength="11"
                (input)="onInputNumbersOnly($event)" 
                class="form-control" 
                formControlName="tckn" 
                placeholder="11 haneli TCKN" />
            </div>
      <div class="col-md-4"><label class="form-label">Doğum Tarihi</label><input  
            type="date" 
            class="form-control" 
            (keydown)="$event.preventDefault()"    
            style="cursor: pointer;" 
            formControlName="kimlikVerilisTarihi" class="form-control" formControlName="dogumTarihi" /></div>

      <div class="col-md-4"><label class="form-label">Cinsiyet</label>
          <div>
              <div class="form-check form-check-inline"><input class="form-check-input" type="radio" formControlName="cinsiyet" id="cinsiyetErkek" [value]="1"><label class="form-check-label" for="cinsiyetErkek">Erkek</label></div>
              <div class="form-check form-check-inline"><input class="form-check-input" type="radio" formControlName="cinsiyet" id="cinsiyetKadin" [value]="2"><label class="form-check-label" for="cinsiyetKadin">Kadın</label></div>
          </div>
      </div>
      <div class="col-md-4"><label class="form-label">Medeni Durum</label>
          <div>
              <div class="form-check form-check-inline"><input class="form-check-input" type="radio" formControlName="medeniDurum" id="medeniBekar" [value]="1"><label class="form-check-label" for="medeniBekar">Bekar</label></div>
              <div class="form-check form-check-inline"><input class="form-check-input" type="radio" formControlName="medeniDurum" id="medeniEvli" [value]="2"><label class="form-check-label" for="medeniEvli">Evli</label></div>
          </div>
      </div>
      <div class="col-md-4"><label class="form-label">Baba Adı</label><input class="form-control" formControlName="babaAdi" /></div>
      <div class="col-md-4"><label class="form-label">Anne Adı</label><input class="form-control" formControlName="anneAdi" /></div>
    </div>

    <h4 class="mt-4">Kimlik Bilgileri</h4><hr>
    <div class="row g-3">
        <div class="col-md-4"><label class="form-label">Pasaport Numarası</label>
        <input 
          type="text" 
          maxlength="9" 
          class="form-control" 
          formControlName="pasaportNumarasi"
          /></div>

        <div class="col-md-4"><label class="form-label">Kimlik Veriliş Tarihi</label>
          <input 
            type="date" 
            class="form-control" 
            (keydown)="$event.preventDefault()"    
            style="cursor: pointer;" 
            formControlName="kimlikVerilisTarihi" /></div>

         <div class="col-md-4"><label class="form-label">Nüfusa Kayıtlı İl</label>
        <select class="form-select" formControlName="sehirId">
          <option [ngValue]="null">Seçiniz</option>
          <option *ngFor="let s of (sehirler$ | async)" [ngValue]="s.id">{{ s.ad }}</option>
        </select>
      </div>
    </div>

    <h4 class="mt-4">Adres Bilgileri</h4><hr>
    <div class="row g-3">
      <div class="col-md-4"><label class="form-label">Şehir</label>
        <select class="form-select" formControlName="sehirId">
          <option [ngValue]="null">Seçiniz</option>
          <option *ngFor="let s of (sehirler$ | async)" [ngValue]="s.id">{{ s.ad }}</option>
        </select>
      </div>
      
      <div class="col-md-4">
        <label class="form-label">İlçe</label>
        <select class="form-select" formControlName="ilceId" [disabled]="!frm.controls.sehirId.value">
          <option [ngValue]="null">Önce Şehir Seçiniz</option>
          <option *ngFor="let ilce of (ilceler$ | async)" [ngValue]="ilce.id">{{ ilce.ad }}</option>
        </select>
      </div>
      <div class="col-md-4"><label class="form-label">Semt</label><input class="form-control" formControlName="semt" /></div>
    </div>

    <h4 class="mt-4">Ek Bilgiler</h4><hr>
    <div class="row g-3">
        <div class="col-md-4"><label class="form-label">Vergi Dairesi</label><input class="form-control" formControlName="vergiDairesi" /></div>
        <div class="col-md-4">
          <label class="form-label">Vergi No</label>
          <input 
            type="text"
            maxlength="10"
            (input)="onInputNumbersOnly($event)"
            class="form-control" 
            formControlName="vergiNo" 
            placeholder="10 haneli Vergi No"
          />
        </div>
        <div class="col-md-4">
          <label class="form-label">SSK No</label>
          <input 
            type="text"
            (input)="onInputNumbersOnly($event)"
            class="form-control" 
            formControlName="sskNo" 
          />
        </div>
        <div class="col-md-4">
          <label class="form-label">SSK İşyeri Numarası</label>
          <input 
            type="text"
            (input)="onInputNumbersOnly($event)"
            class="form-control" 
            formControlName="sskIsyeriNumarasi" 
          />
        </div>
        <div class="col-md-4">
          <label class="form-label">Ticaret Sicil No</label>
          <input 
            type="text"
            (input)="onInputNumbersOnly($event)"
            class="form-control" 
            formControlName="ticaretSicilNo" 
          />
        </div>
        <div class="col-md-4"><label class="form-label">Borçlu Tipi <span class="text-danger">*</span></label>
             <select class="form-select" formControlName="borcluTipi">
               <option [ngValue]="1">Asıl Kredi Borçlusu</option>
               <option [ngValue]="2">Kefil</option>
               <option [ngValue]="3">Mirasçı</option>
               <option [ngValue]="4">Ciranta</option>
               <option [ngValue]="5">Keşideci</option>
             </select>
        </div>
         <div class="col-md-4"><label class="form-label">Müşteri Türü <span class="text-danger">*</span></label>
            <select class="form-select" formControlName="musteriMusteriTipi">
              <option [ngValue]="1">Bireysel</option>
              <option [ngValue]="2">Kurumsal</option>
            </select>
        </div>
        <div class="col-md-4 align-self-end">
            <label class="form-check"><input type="checkbox" class="form-check-input" formControlName="hayattaMi" /><span class="form-check-label"> Hayatta mı</span></label>
        </div>
    </div>

    <div class="mt-4 d-flex gap-2">
      <button class="btn btn-primary" type="submit" [disabled]="kaydediliyor()">{{ kaydediliyor() ? 'Kaydediliyor...' : (duzenlemeMi ? 'Güncelle' : 'Kaydet') }}</button>
      <a class="btn btn-outline-secondary" [routerLink]="['/musteriler']" [class.disabled]="kaydediliyor()">İptal</a>
    </div>
  </form>
</div>

